.Sweetpotato-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height:auto;
    background-color: #DD5757;
}
.Sweetpotao-heder-right{
    justify-content: space-between;
}
.container{
    padding: 25px;   
    background-color: whitesmoke;  
}
button{
    padding:5px 15px; 
    background-color:red; 
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
