.Sweetpotato-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height:auto;
    background-color: #DD5757;
}
.Sweetpotao-heder-right{
    justify-content: space-between;
}
.container{
    padding: 25px;   
    background-color: whitesmoke;  
}
.Sweetpotato-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #DD5757;
  }